In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("adult.data.csv")

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df.groupby("race").count()["age"]

In [6]:
df.shape

(32561, 15)

In [15]:
df["salary"].unique()

array(['<=50K', '>50K'], dtype=object)

In [21]:
round((df[ (df["education"].isin(["Bachelors","Masters","Doctorate"])) & (df["salary"]==">50K")].shape[0]*100)/df.shape[0], 10)

10.7060593962

In [28]:
min_work_hours= df["hours-per-week"].min()

In [36]:
df[df["hours-per-week"]==min_work_hours]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [37]:
num_min_workers = round((df[(df["hours-per-week"]==min_work_hours) & (df["salary"]==">50K")].shape[0]*100 )/df.shape[0],10)
num_min_workers

0.0061423175

In [42]:
highest_earning_country = df[df["salary"]==">50K"]["native-country"].unique()
highest_earning_country
highest_earning_country_percentage = round((len(highest_earning_country)*100)/len(df["native-country"]), 10)
highest_earning_country_percentage

0.1228463499

In [68]:
top_IN_occupation = df[(df["salary"]=='>50K') & (df["native-country"]=='India')]["occupation"]

top_IN_occupation

'Prof-specialty'

In [78]:
df[df["salary"]==">50K"]["native-country"].value_counts().index[0]

'United-States'

In [103]:
df["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [119]:
df1=df[ (df["education"].isin(['Bachelors', "Masters", 'Doctorate']))]

In [123]:
df[df["salary"]==">50K"]["native-country"].value_counts().index[0]

'United-States'