In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv("medical_examination.csv")

In [15]:
columns = ['active','alco','cholesterol','gluc','overweight','smoke']
    
df_cat = pd.melt(df, id_vars=["cardio"], value_vars=columns)

In [16]:
df_cat=  df_cat = df_cat.reset_index() \
                .groupby(['variable', 'cardio', 'value']) \
                .agg('count') \
                .rename(columns={'index': 'total'}) \
                .reset_index()
    
df_cat

        variable  cardio     value  total
0         active       0  0.000000   6378
1         active       0  1.000000  28643
2         active       1  0.000000   7361
3         active       1  1.000000  27618
4           alco       0  0.000000  33080
...          ...     ...       ...    ...
6152  overweight       1  0.029867      1
6153       smoke       0  0.000000  31781
6154       smoke       0  1.000000   3240
6155       smoke       1  0.000000  32050
6156       smoke       1  1.000000   2929

[6157 rows x 4 columns]

In [14]:
'cholesterol', 'gluc', 'smoke', 'alco', 'active','overweight'

('cholesterol', 'gluc', 'smoke', 'alco', 'active', 'overweight')